<section>
  <header>
    <h1>Games</h1>
    <% if current_user %>
      <button>
        <%= link_to 'New Company', new_company_path %>
      </button>
      <button>
        <%= link_to 'New Game', new_game_path %>
      </button>
    <% end %>
  </header>

  <section>
    <% @games.each do |game| %>
      <article>
        <h2><%= game.name %></h2>
        <span><%= game.released_date.strftime("%Y") %></span>
        <span><%= game.rating %></span>
        <p><%= game.summary.truncate(140) %></p>
        <%= game.cover.attached? ? image_tag(game.cover) : image_tag('') %>
      </article>
    <% end %>
  </section>
</section>
