<h1>New Game</h1>

<%= form_with model: @game do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :summary %>
        <%= f.text_area :summary %>
    </div>

    <div>
        <%= f.label :released_date, 'Released Date' %>
        <%= f.date_field :released_date %>
    </div>

    <div>
        <%= f.label :category %>
        <%= f.select :category, [['Main game', 0], ['Expansion', 1]], prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :rating %>
        <%= f.number_field :rating, step: :any %>
    </div>

    <div>
        <%= f.label :parent_id, 'Parent' %>
        <%= f.collection_select :parent_id, Game.where({ category: 0 }), :id, :name, prompt: 'Please select' %>
    </div>

    <div>
        <%= f.label :cover %>
        <%= f.file_field :cover, accept: 'image/png,image/jpeg' %>
    </div>

    <div>
        <button type="button">
            <%= link_to 'Cancel', root_path %>
        </button>
        <%= f.submit 'Create Game' %>
    </div>
<% end %>