<h1>New Game</h1>

<%= form_with model: @game do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :summary %>
        <%= f.text_area :summary %>
    </div>

    <div>
        <%= f.label :released_date, 'Released Date' %>
        <%= f.date_field :released_date %>
    </div>

    <div>
        <%= f.label :category %>

    </div>

    <div>
        <%= f.label :rating %>

    </div>

    <div>
        <%= f.label :parent %>

    </div>

    <div>
        <%= f.label :cover %>

    </div>

    <div>
        <button type="button">
            <%= link_to 'Cancel', root_path %>
        </button>
        <%= f.submit 'Create Game' %>
    </div>
<% end %>